<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>日常管理</title>
    <link rel="shortcut icon" href="https://pic.imgdb.cn/item/61c3077b2ab3f51d91280376.png">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/admin/editormd/css/editormd.css}" />
    <!-- Custom styles for this template -->
    <link th:href="@{/admin/css/dashboard.css}" rel="stylesheet">
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/1.8.3/jquery.min.js}"></script>
</head>

<body>
<div th:replace="~{admin/comm/header::header}"></div>



<div th:replace="~{admin/comm/footer::footer}"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="ui container" style="display: flex;justify-content: center;">
        <form th:action="@{/admin/daily/action}" method="post" class="ui segment form" style="width: 80%">
            <div class="field">
                <div class="field">
                    <input type="hidden" name="did" th:value="${daily==null?'':daily.did}">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">图片</label>
                        <input name="dayImg" th:value="${daily==null?'':daily.dayImg}" type="text" placeholder="请输入图片路径" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled input">
                        <label style="display: flex;align-items: center" class="ui teal basic label">内容</label>
                        <textarea name="text" th:text="${daily==null?'':daily.text}" rows="6" type="text" placeholder="请输入内容" required></textarea>
                    </div>
                </div>
                <div class="field" style="text-align: center">
                    <input type="submit" style="width: 20rem" class="btn btn-primary" value="确定">
                </div>
            </div>
        </form>
    </div>
</main>




<!-- Icons -->
<script th:src="@{https://unpkg.com/feather-icons/dist/feather.min.js}"></script>
<script>
    feather.replace()
</script>
<script th:src="@{https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js}"></script>

</body>
</html>