<!doctype html>
<!--suppress ALL-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>标签管理</title>
    <link rel="shortcut icon" href="https://pic.imgdb.cn/item/61c3077b2ab3f51d91280376.png">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- Custom styles for this template -->
    <link th:href="@{/admin/css/dashboard.css}" rel="stylesheet">
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/1.8.3/jquery.min.js}"></script>
</head>

<body>

<div th:replace="~{admin/comm/header::header}"></div>

<div class="container-fluid">
    <div class="row">

        <div th:replace="~{admin/comm/footer::footer}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="ui container">
                <form th:action="@{/admin/classify/action}" method="post" class="ui segment form" style="width: 60%;margin: 0 auto;" id="classifyForm">
                    <div class="field"  style="text-align: center">
                        <input type="hidden" name="lid" id="lid" th:value="${classify==null?'':classify.lid}">
                        <div class="field">
                            <input type="text" id="labelName" name="labelName" th:value="${classify==null?'':classify.labelName}" placeholder="标签名称" required>
                        </div>
                        <div class="field">
                            <input href="javascript:void(0)" type="button" style="width: 20rem" class="btn btn-primary" value="确定" onclick="addClassify()"></input>
                        </div>
                    </div>
                    <div style="display: none" id="error_message" class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header">添加标签错误</div>
                        <p id="for_addClassify"></p>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

<!-- Icons -->
<script th:src="@{https://unpkg.com/feather-icons/dist/feather.min.js}"></script>
<script>
    feather.replace()
</script>
<script>
    function addClassify() {
        $.ajax({
            url:'/admin/classify/action',
            type:'POST',
            data:{lid:$("#lid").val(),labelName:$("#labelName").val()},
            success:function (data) {
                if(data=='ok'){
                    alert("添加标签成功")
                    window.location.href="/admin/classify/all"
                }else{
                    $("#error_message").css("display","block")
                    $("#for_addClassify").html(data)
                }
            }
        })
    }
</script>


</body>
</html>
